@page "/AnnouncementDetailMairie/{idMairie:guid}"
@using Radzen
@using Radzen.Blazor
@using VillajourFrontend.Dto.Announcement
@attribute [Authorize(Roles = "user")]
@using VillajourFrontend.Components.Layout

<NavMenuDetailMairie IdMairie="@idMairie" />

<div class="listeContenu">
    @if (announcementDetail == null)
    {
        <p>La mairie n'a pas d'annonce !</p>
    }
    else if (!announcementDetail.Any())
    {
        <p>La mairie n'a pas d'annonce !</p>
    }
    else
    {
        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@announcementDetail" TItem="AnnouncementByMairieDetailDto" PageSize="4" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
            <Template Context="announcementEnt">
                <RadzenCard Style="width: 100%; padding: 0;">
                    <RadzenRow Gap="0">
                        <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" style="color: #FF9505">@(announcementEnt.Title)</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="8" Class="rz-p-4">
                            <RadzenRow Gap="0">
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Date</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(@announcementEnt.Date.ToShortDateString())</RadzenText>
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                    <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Description</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body2">@(announcementEnt.Description)</RadzenText>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenColumn>
                        @if (announcementEnt.Favorite)
                        {
                            <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                                <RadzenButton Click="@(() => OnDeleteAnnouncementFav(announcementEnt.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Danger" />
                            </RadzenColumn>
                        }
                        else
                        {
                            <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                                <RadzenButton Click="@(() => OnAddAnnouncementFav(announcementEnt.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Success" />
                            </RadzenColumn>
                        }                       
                    </RadzenRow>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    }
</div>