@page "/AppointmentDetailMairie/{idMairie:guid}"
@attribute [Authorize(Roles = "user")]
@using Radzen
@using Radzen.Blazor
@using System.Globalization
@using VillajourFrontend.Components.Layout

<NavMenuDetailMairie IdMairie="@idMairie" />

<div class="schedule-container">
    <div class="date-header">
        <RadzenDropDown @bind-Value="selectedDay" Data="days" Change="@(async args => await OnDateChange())" />
        <RadzenDropDown @bind-Value="selectedMonth" Data="months" TextProperty="Text" ValueProperty="Value" Change="@(async args => await OnDateChange())" />
        <RadzenDropDown @bind-Value="selectedYear" Data="years" Change="@(async args => await OnDateChange())" />
    </div>
    <div class="slots-container">
        @foreach (var slot in availableSlots)
        {
            <div class="slot-item @(slot.Contains("(Réservé)") ? "taken-slot" : "")" @onclick="() => OpenAppointmentForm(slot)">
                @slot
            </div>
        }
    </div>
</div>

<style>
    .schedule-container {
        max-width: 80%;
        margin: 20px auto;
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .date-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px; 
        font-weight: bold;
        font-size: 1.5em;
    }

    .slots-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .slot-item {
        background-color: #FFC971;
        padding: 20px 40px; 
        border-radius: 10px;
        text-align: center;
        flex: 1 1 calc(20% - 20px);
        cursor: pointer;
        font-size: 1.2em; 
    }

        .slot-item.taken-slot {
            background-color: #d3d3d3;
            cursor: not-allowed;
        }
</style>

