@page "/AnnouncementUser"
@using VillajourFrontend.Entity
@using Radzen
@using Radzen.Blazor
@using VillajourFrontend.Dto.Announcement
@attribute [Authorize(Roles = "user")]

<div class="AnnouncementTitle">
    <h1>Vos annonces favoris</h1>
</div>

@if (annonceFav == null)
{
    <p>Aucune annonce favoris trouvé !</p>
}
else if (!annonceFav.Any())
{
    <p>Vous n'avez aucune annonce favoris.</p>
}
else
{
    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@annonceFav" TItem="AnnouncementDto" PageSize="2" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
        <Template Context="announcementEnt">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" style="color: #FF9505">@(announcementEnt.Title)</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Date</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(@announcementEnt.Date.ToShortDateString())</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Description</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(announcementEnt.Description)</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Click="@(() => OnDetailAnnouncementFav(announcementEnt.Id, true))" Icon="info" style="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;" />
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Click="@(() => OnDeleteAnnouncementFav(announcementEnt.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Danger" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}
                                
<div class="AnnouncementTitle">
    <h1>Les annonces de vos mairies favoris</h1>
</div>

@if (annonceByMairieFav == null)
{
    <p>Vous n'avez pas de mairie favoris ou elle n'ont pas d'annonce !</p>
}
else if (!annonceByMairieFav.Any())
{
    <p>Vous n'avez pas de mairie favoris ou elle n'ont pas d'annonce !</p>
}
else
{
    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@annonceByMairieFav" TItem="AnnouncementByMairieFavoriteDto" PageSize="3" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
        <Template Context="announcementEnt">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" style="color: #FF9505">@(announcementEnt.Title)</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="7" Class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Date</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(@announcementEnt.Date.ToShortDateString())</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Description</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(announcementEnt.Description)</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Click="@(() => OnDetailAnnouncementFav(announcementEnt.Id, true))" Icon="info" style="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;" />
                    </RadzenColumn>
                    @if (announcementEnt.Favorite)
                    {
                        <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                            <RadzenButton Click="@(() => OnDeleteAnnouncementFav(announcementEnt.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Danger" />
                        </RadzenColumn>
                    }
                    else
                    {
                        <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                            <RadzenButton Click="@(() => OnAddAnnouncementFav(announcementEnt.Id))" Icon="favorite" title="Ajouter aux favoris" ButtonStyle="ButtonStyle.Success" />
                        </RadzenColumn>
                    }
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}