<!-- Pages/EventUser.razor -->
@page "/EventUser"
@using Radzen
@using Radzen.Blazor
@using VillajourFrontend.Dto.Event
@using VillajourFrontend.Entity
@attribute [Authorize(Roles = "user")]

<div class="eventTitle">
    <h1>Vos événements favoris</h1>
</div>

@if (eventsFav == null)
{
    <p>Aucun événement favoris trouvé !</p>
}
else if (!eventsFav.Any())
{
    <p>Vous n'avez aucun événement favoris.</p>
}
else
{
    <RadzenDataList Style="height:300px;overflow:auto;" WrapItems="true" AllowPaging="true" Data="@eventsFav" TItem="EventDto" PageSize="2" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
        <Template Context="eventEnt">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="2" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(eventEnt.Title)</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="8" Class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Horaire d'ouverture</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(eventEnt.StartTime)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Horaire de fermeture</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(eventEnt.EndTime)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Type d'événement</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(eventEnt.EventType.Libelle)</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Click="@(() => OnDetailEventFav(eventEnt.Id, true))" Icon="info" ButtonStyle="ButtonStyle.Primary" />
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Click="@(() => OnDeleteEventFav(eventEnt.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Danger" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}

<div class="eventTitle">
    <h1>Les événements de vos mairies favoris</h1>
</div>

@if (eventsByMairieFav == null)
{
    <p>Vous n'avez pas de mairie favoris ou elle n'ont pas d'événements !</p>
}
else if (!eventsByMairieFav.Any())
{
    <p>Vous n'avez pas de mairie favoris ou elle n'ont pas d'événements !</p>
}
else
{
    <RadzenDataList Style="height:550px;overflow:auto;" WrapItems="true" AllowPaging="true" Data="@eventsByMairieFav" TItem="EventByMairieFavoriteDto" PageSize="4" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
        <Template Context="eventEnt">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="2" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(eventEnt.Title)</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="8" Class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Horaire d'ouverture</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(eventEnt.StartTime)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Horaire de fermeture</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(eventEnt.EndTime)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="4">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Type d'événement</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(eventEnt.EventType.Libelle)</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Click="@(() => OnDetailEventFav(eventEnt.Id, true))" Icon="info" ButtonStyle="ButtonStyle.Primary" />
                    </RadzenColumn>
                    @if (eventEnt.Favorite)
                    {
                        <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                            <RadzenButton Click="@(() => OnDeleteEventFav(eventEnt.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Danger" />
                        </RadzenColumn>
                    }
                    else
                    {
                        <RadzenColumn Size="6" SizeLG="1" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                            <RadzenButton Click="@(() => OnAddEventFav(eventEnt.Id))" Icon="favorite" title="Ajouter aux favoris" ButtonStyle="ButtonStyle.Success" />
                        </RadzenColumn>
                    }
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}