@page "/HomeUser"
@using VillajourFrontend.Dto
@using VillajourFrontend.Entity
@using Radzen
@using Radzen.Blazor
@attribute [Authorize(Roles = "user")]

<div>
    <h3>Recherche de Mairies</h3>
    <div class="row">
        <div class="col-md-10">
            <RadzenTextBox @bind-Value="searchQuery" Placeholder="Entrer l'adresse d'une mairie" Style="width: 100%;" Change="@((args) => FilterMairies())" />
        </div>
        <div class="col-md-2">
            <RadzenButton Text="Rechercher" Click="@FilterMairies" style="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;" class="gradient-button" Icon="search" />
        </div>
    </div>

    <div class="mt-4 mb-4">
        <RadzenDataGrid Data="@filteredMairies" TItem="Mairie" AutoGenerateColumns="false">
            <Columns>
                <RadzenDataGridColumn TItem="Mairie" Property="Address" Title="Adresse" />
                <RadzenDataGridColumn TItem="Mairie" Property="Phone" Title="Téléphone" />
                <RadzenDataGridColumn TItem="Mairie" Property="Email" Title="E-mail" />
                <RadzenDataGridColumn TItem="Mairie" Property="Siret" Title="Siret" />
                <RadzenDataGridColumn TItem="Mairie" Property="Id" Title="Accéder à la mairie">
                    <Template Context="data">
                        <RadzenButton Click="@(() => OnRedirectDetailMairie(data.Id))" style="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;" Icon="label_outline" title="Accéder à la mairie" class="gradient-button" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>

<div class="favorite-mairies-section">
    <h3>Vos mairies favoris</h3>

    @if (mairiesFav == null)
    {
        <p>Aucune annonce favoris trouvé !</p>
    }
    else if (!mairiesFav.Any())
    {
        <p>Vous n'avez aucune annonce favoris.</p>
    }
    else
    {
        <div class="favorite-mairies-list">
            <RadzenDataList class="data-list" WrapItems="true" AllowPaging="true" Data="@mairiesFav" TItem="Mairie" PageSize="2" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
                <Template Context="mairie">
                    <RadzenCard class="mairie-card">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeLG="2" Class="rz-p-4 product-title">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" style="color: #FF9505">@(mairie.Name)</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeLG="8" Class="rz-p-4">
                                <RadzenRow Gap="0">
                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Adresse</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2">@(mairie.Address)</RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
                                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Téléphone</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2">@(mairie.Phone)</RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="12" SizeLG="3">
                                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">E-mail</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2">@(mairie.Email)</RadzenText>
                                    </RadzenColumn>
                                    <RadzenColumn Size="12" SizeMD="12" SizeLG="3">
                                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Siret</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body2">@(mairie.Siret)</RadzenText>
                                    </RadzenColumn>
                                </RadzenRow>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeLG="1" Class="rz-p-4 button-container">
                                <RadzenButton Click="@(() => OnRedirectDetailMairie(mairie.Id))" style="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;"  Icon="label_outline" title="Accéder à la mairie" class="gradient-button" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeLG="1" Class="rz-p-4 button-container">
                                <RadzenButton Click="@(() => OnDeleteMairieFav(mairie.Id))" Icon="favorite" title="Retirer des favoris" ButtonStyle="ButtonStyle.Danger" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenCard>
                </Template>
            </RadzenDataList>
        </div>
    }
</div>
