@page "/AnnouncementMairie"
@using VillajourFrontend.Dto.Announcement
@using Radzen
@using Radzen.Blazor
@attribute [Authorize(Roles = "mairie")]

<div class="announcementTitle">
    <h1>Vos annonces</h1>
    <RadzenButton Text="Ajouter une annonce" Icon="add_circle_outline" style="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;" Click="@OnAddNewAnnouncement" />
</div>

@if (announcement == null)
{
    <p>Aucune annonce trouvé !</p>
}
else if (!announcement.Any())
{
    <p>Vous n'avez aucun annonce.</p>
}
else
{
    <RadzenDataList WrapItems="true" AllowPaging="true" Data="@announcement" TItem="AnnouncementDto" PageSize="4" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="false">
        <Template Context="announcementEnt">
            <RadzenCard Style="width: 100%; padding: 0;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                        <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" style="color: #FF9505">@(announcementEnt.Title)</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeLG="5" Class="rz-p-4">
                        <RadzenRow Gap="0">
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Date</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(@announcementEnt.Date.ToShortDateString())</RadzenText>
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" SizeLG="6">
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Description</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body2">@(announcementEnt.Description)</RadzenText>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="2" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Text="Modifier" Click="@(() => OnUpdateAnnouncement(announcementEnt.Id))" Style="width: 100%" class="rz-background-color-warning-light" />
                    </RadzenColumn>
                    <RadzenColumn Size="6" SizeLG="2" Class="rz-p-4" style="display: flex; justify-content: center; align-items: center;">
                        <RadzenButton Text="Supprimer" Click="@(() => OnDeleteAnnouncement(announcementEnt.Id))" Style="width: 100%" class="rz-background-color-danger-light" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
}
