@page "/DetailMairie"
@attribute [Authorize(Roles = "mairie")]

<RadzenPanel>
    <HeaderTemplate>
        <div>
            <h3>Votre profil</h3>
        </div>
        <div>
            <RadzenImage class="profil-picture" src=@model.Picture alt="Photo de Profil" />
        </div>
    </HeaderTemplate>
    <ChildContent>
        <RadzenTemplateForm Style="margin-top:5%;" TItem=Entity.Mairie Data=@model Submit="@(args => ModifyMairie(model))">
            <div style="width:80%">
                <div class="ligne">
                    <RadzenText class="details-title">Nom de la mairie : </RadzenText>
                    <RadzenTextBox Disabled="@NotModificationMode" class="details-data" @bind-value="@model.Name"></RadzenTextBox>
                </div>
                <div class="ligne">
                    <RadzenText class="details-title">Adresse de la mairie : </RadzenText>
                    <RadzenTextBox Disabled="@NotModificationMode" class="details-data" @bind-value="@model.Address"></RadzenTextBox>
                </div>
                <div class="ligne">
                    <RadzenText class="details-title">Numéro de téléphone : </RadzenText>
                    <RadzenTextBox Disabled="@NotModificationMode" class="details-data" @bind-value="@model.Phone"></RadzenTextBox>
                </div>
                <div class="ligne">
                    <RadzenText class="details-title">Siret : </RadzenText>
                    <RadzenTextBox Disabled="@NotModificationMode" class="details-data" @bind-value="@model.Siret"></RadzenTextBox>
                </div>
                <div class="ligne">
                    <RadzenText class="details-title">E-mail : </RadzenText>
                    <RadzenTextBox Disabled="@NotModificationMode" class="details-data" @bind-value="@model.Email"></RadzenTextBox>
                </div>
            </div>

            <div class="ligne">
                @if (NotModificationMode)
                {
                    <RadzenButton Click="@(args => EnterModificationMode())" class="buttons rz-background-color-success">Modifier</RadzenButton>
                }
                @if (NotModificationMode == false)
                {
                    <RadzenButton ButtonType="ButtonType.Submit" class="buttons rz-background-color-success">Valider les modifications</RadzenButton>
                    <RadzenButton Click="@(args => ExitModificationMode())" class="buttons rz-background-color-base-600">Annuler</RadzenButton>
                }
                <RadzenButton Click="@(args => PopupDeleteAccount())" class="button-supprimer rz-background-color-danger">Supprimer mon compte</RadzenButton>
                
                <RadzenButton Click="@(args => PopupContact())"style ="background: linear-gradient(to bottom right, #FFC971, #FFB627) !important;" class="button-supprimer">Nous contacter</RadzenButton>
            </div>
        </RadzenTemplateForm>
    </ChildContent>
</RadzenPanel>

<style>
    .buttons {
        width: 150px;
        height: 15px;
        margin-top: 2%;
        margin-right: 2%;
    }

    .button-supprimer {
        width: 150px;
        height: 55px;
        margin-top: 2%;
        margin-right: 0%;
        margin-left:auto;
    }

    .ligne {
        display:flex;
        align-items:center;
    }

    .details-title {
        margin: 1%;
        margin-left:5%;
        
    }

    .details-data {
        margin: 1%;
        margin-left:auto;
        margin-right:30%;
        width: 40%;
    }

    .profil-picture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
    }
</style>